<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="variables.css">
  <script src="components/library.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
  <script src="src-noconflict/ace.js"></script>
</head>

<body>

  <h2>Test</h2>
  <g-resource>

  </g-resource>


  <div id="test"></div>
  <button id="submit"></button>

  <script>
    // window["ace"]?.config.set(
    //   "basePath",
    //   "https://cdn.jsdelivr.net/npm/ace-builds@latest/src-noconflict/",
    // );

    // Initialize the editor with a JSON schema
    const editor = new JSONEditor(document.querySelector('#test'), {
      compact: true,
      schema: {
        "title": "Actor",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "Code": {
            "type": "string",
            "format": "javascript",
            "options": {
              "ace": {
                "theme": "ace/theme/monokai",
                "tabSize": 2,
                "useSoftTabs": true,
                "wrap": true,
              },
            },
          },
        },
      },
    });

    // Hook up the submit button to log to the console
    document.getElementById('submit').addEventListener('click', function () {
      // Get the value from the editor
      console.log(editor.getValue());
    });
  </script>






  <g-account href="/test.html"></g-account>

  <!-- <g-resource accept="name, description, imageURI, tags, docVersion">
    {
      "_id": "62867f1bf08701a650784492",
      "author": "6283f46d1377d4f5ea321495",
      "name": "MURCIA!!",
      "description": "Hay quien dice que no existe",
      "pasive": [
        "62867ce3ea2f41a61c04ccc2"
      ],
      "imageURI": "murgia.jpeg",
      "tags": [
        "fire"
      ],
      "createdAt": "2022-05-19T17:32:11.384Z",
      "isShared": false,
      "docVersion": 2,
      "updatedAt": "2022-05-19T17:32:45.921Z"
    }
  </g-resource> -->

  <g-selector options="juan, tu, zri">
  </g-selector>
  <button onclick="document.querySelector('#menu').toggle()">Desplegar menu</button>
  <button onclick="document.querySelector('#first').open()">Abrir modal :)</button>

  <g-modal id="first" href="/test.html">
  </g-modal>

  <g-menu id="menu" href="/test.html">
  </g-menu>

  <g-data href="/dummy.json" ondata="test">
  </g-data>
  <script>
    function test(data) {
      // console.warn(data.data)
    }
  </script>
  <style>
    #caja {
      width: 400px;
      height: 400px;
    }
  </style>
  <div id="caja">
    <g-frame>
      <page url="/test3.html" icon="../assets/icons/quill.png" />
      <page url="/test4.html" icon="../assets/icons/package-box.png" />
    </g-frame>

  </div>
</body>

</html>