<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="variables.css">
  <link rel="stylesheet" href="styles/card.css">
  <script src="components/library.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>


</head>

<body>

  <h2>Test</h2>

  <g-resource model="actor" action="edit">
  </g-resource>
  <g-resource model="item" action="show">
  </g-resource>
  <g-resource model="stage" action="create">
  </g-resource>
  <g-resource model="effect">
  </g-resource>

  <div id="test"></div>
  <button id="submit"></button>

  <g-account href="/test.html"></g-account>

  <g-selector options="juan, tu, zri">
  </g-selector>
  <button onclick="document.querySelector('#menu').toggle()">Desplegar menu</button>
  <button onclick="document.querySelector('#first').open()">Abrir modal :)</button>

  <g-modal id="first" href="/test.html">
  </g-modal>

  <g-menu id="menu" href="/test.html">
  </g-menu>

  <g-data href="/dummy.json" ondata="test">
  </g-data>
  <script>
    function test(data) {
      // console.warn(data.data)
    }
  </script>
  <style>
    #caja {
      width: 400px;
      height: 400px;
    }
  </style>
  <div id="caja">
    <g-frame>
      <page url="/test3.html" icon="../assets/icons/quill.png" />
      <page url="/test4.html" icon="../assets/icons/package-box.png" />
    </g-frame>

  </div>
</body>

</html>