<h1>Hola holita</h1>
<g-resource model="user" action="show" resource-id="me" href="/api/auth/me" onsend="">
</g-resource>
<g-resource model="actor" onsend="send" action="edit" href="/api/" filter="filter" resource-id="1" filter="">
</g-resource>
<g-resource model="actor" onsend="send" action="show" href="/api/" filter="filter" resource-id="1" filter="">
</g-resource>


<script>

function filter(e){
  const result =  {
    id: e._id ?? e.id,
    name: e.name,
    description: e.description
  }
  return result
}

function send(e){
  console.log(e)
}
</script>