:root{
  --bg-color: #221B21;
  --main-color: #967D69;
  --accent-color: #0AC2FF;
  --detail-color: #1FAD9A;
  --dark-color: #483C32;
  --light-color: #EBFAFF;
  --frame-color: var(--dark-color);
  --card-width: 300px;
  --card-height: min-height;
}
/* *{
  box-sizing: border-box;
} */

body{
  background-color: var(--bg-color);
  color: aliceblue;
  margin: 0;
}
