#card{
  /* --card-width: 400px;
  --card-height: 400px; */
  display: block;
  border-radius: 5px;
  background-color: var(--dark-color);
  color: white;
  box-shadow: 1px 4px 3px 0 #0004, inset 1px 1px 5px 0 #fff1;
  overflow-y: auto;
}


#card select {
  background-color: aliceblue;
  width: 80%;
  margin: 0 auto;
  display: block;
}

#card ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

#card li {
  list-style: none;
}

/* For id field */
#card li:first-of-type {
  display: none;
}

#card li div {
  display: flex;
  flex-direction: column;
}

#card li em {
  font-style: normal;
}

#card li p {
  background-color: aliceblue;
  color: black;
  font-family: monospace, 'Courier New', Courier;
  font-size: 13.3333px;
  padding: 2px;
  margin: 0;
}

#card li label {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: bold;
}

#card input, #card p{
  display: block;
  width: 70%;
}